/* –––TYPOGRAPHY––– */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--fwBold);
	line-height: 100%;
}

h1 {
	font-size: var(--fs1);
}

h2 {
	font-size: var(--fs2);
}

h3 {
	font-size: var(--fs3);
}

h4 {
	font-size: var(--fs4);
}

h5 {
	font-size: var(--fs5);
}

h6 {
	font-size: var(--fs6);
}

/* –––LAYOUT––– */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 16px; /* root font size */
}

body {
	font-family: var(--fontFamily);
	color: var(--primaryColor);
}

a {
	color: var(--primaryColor);
}
